body {
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    a {
        color: white;
    }
}
a {
    text-decoration: none;
}

header {
    background-color: #0083c4;
    .info-bar {
        width: 100%;
        padding: 5px;
        background-color: #008acf;
        text-align: center;
        color: white;
    }
    .logo {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        img {
            height: 60px;
        }
        p {
            color: white;
            font-size: 1.25rem;
        }
    }
    nav {
        background-color: #006091;
        width: 100vw;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
        ul {
            margin-left: 20vw;
            margin-right: 20vw;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            list-style: none;
        }
    }
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 50px;
    .menu {
        margin-right: 100px;
        
        border-radius: 15px;
        border: 1px solid rgb(204, 204, 204);
        ul{
            list-style: none;
            align-content: left;
            li{
                padding: 20px;
                border-bottom: 1px solid rgb(204, 204, 204);
            }
        }
    }
}

.image-row {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
        text-decoration: none;
        color: white;
    }
    .box {
        display: block;
        width: 40vw;
        height: 20vw;
        margin: 10px;
        h2 {
            padding-top: 14vw;
        }
    }
    .men {
        background-image: url('../img/main/pop-men.jpg');
        background-size: cover;
    }
    .woman {
        background-image: url('../img/main/pop-womens.jpg');
        background-size: cover;
    }
    .boy {
        background-image: url('../img/main/pop-boys.jpg');
        background-size: cover;
    }
    .girl {
        background-image: url('../img/main/pop-girls.jpg');
        background-size: cover;
    }
}
.prod_header{
    display: flex;
    flex-wrap: nowrap;
    margin: 50px;
    .prod_text{
        margin-top: 100px;
        margin-left: 100px;
        background-color: rgb(247, 247, 247);
        .prod_description{
            margin-top: 50px;
            width: 500px;

            ul {
                display:flex;
                justify-content: space-around;
            }
            li{
                list-style: none;
            }
        }
    }
    .prod_photo{
        margin-right: 100px;
    }
}

.list-container{
    display: flex;
    justify-content: center;
}
.filters{
    margin: 30px;
    width: 50vw;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid rgba(122, 122, 122, 0.452);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.199);
    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}
.product_list{
    display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: center;
    .product_box{
        margin: 8px;
        flex: 0 1 calc(15% - 8px); /* <-- adjusting for margin */
        width: 200px;
        border-radius: 15px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        text-align: center;
        img {
            height: 100%; 
            width: 100%;
            object-fit: contain
        }
    }
}