@import url("navigation_bar.scss");
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------side navigation bar-------------- */
/* ---------content style area--------------- */
.title {
  margin-top: 60px;
}

.content {
  /* -----Home.php data ------------------- */
  background-color: #fcfcfc;
  width: 100%;
}

.content .navbar-top {
  height: 80px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
}

.content .navbar-top ul {
  margin-top: 20px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
}

.content .navbar-top li {
  margin-right: 50px;
  list-style: none;
}

.content a {
  text-decoration: none;
  color: black;
}

.content .widgets .widgets-block {
  padding: 30px;
  margin: 20px 20px 20px 0px;
  background-color: #ffffff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.content .widgets .widgets-block h2 {
  text-align: left;
  font-size: 1vw;
}

.content .widgets .widgets-block p {
  margin-top: 1vw;
  text-align: right;
  font-size: 1vw;
}

.content .widgets .widgets-block:hover {
  background-color: aquamarine;
}

/* ---------List Style ---------------------- */
.list {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  padding: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}

.list table {
  width: 100%;
}

.list tr {
  height: 40px;
}

.list td {
  border-top: 1px solid black;
}

.list a {
  color: blue;
}

.list a:hover {
  color: aqua;
}

/* ---------form bar------------------------- */
.login-box {
  display: block;
  margin: auto;
}

.login-box .rent-box {
  margin-top: 500px;
  display: block;
  height: 500px;
  width: 500px;
  margin: auto;
}

.login-box .rent-box .full-form {
  width: 100%;
  margin: 8px 0;
}

.login-box .rent-box .short-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.login-box .rent-box .full-form, .login-box .rent-box .short-form {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* podglad strojhow kafelki */
.kafelki {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.kafelki .kafelek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border: 2px solid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 225px;
}

.kafelki .kafelek .numer {
  font-size: 2rem;
}

.kafelki .kafelek p {
  margin: 5px;
  text-align: center;
  font-size: 1rem;
}

.kafelki .kafelek img {
  -ms-flex-line-pack: center;
      align-content: center;
  width: 200px;
  height: 250px;
}

@media only screen and (max-width: 900px) {
  .mobile {
    display: none;
  }
}

.rent-box-dash {
  padding: 1vw;
  width: 30vw;
  height: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 5px;
  border: 1px solid #a0a0a0;
  border-bottom: none;
}

.rent-box-info {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button {
  height: 2vw;
  width: 4vw;
  background-color: #0ec180;
  border: none;
  border-radius: 5px;
  color: white;
}

.dash-row .dash-column {
  margin: 20px 20px 20px 0px;
  padding: 20px;
}

.dash-row .dash-column h2 {
  margin-bottom: 50px;
}

.dash-row table {
  width: 100%;
}

.dash-row td {
  padding: 10px 10px 10px 0px;
  border-bottom: 1px solid #dfdfdf;
}

.shadow-main {
  border: 3px solid #eeeeee;
}
/*# sourceMappingURL=style.css.map */