* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f7fb;
}
@import url('dashboard.scss');
/* Style the side navigation */
.sidenav {
    border-top-right-radius: 20px;
    height: 100%;
    width: 150px;
    font-size: 15px;
    position: fixed;
    z-index: 1;
    background-color: #2e4393;
    overflow-x: hidden;
    .dropdown {
        float: left;
        overflow: hidden;
      }
      .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    a {
        color: white;
        padding: 16px;
        text-decoration: none;
        display: block;
    }
    a:hover {
        background-color: #ddd;
        color: black;
    }
}


/* Style the content */

.content {
    .navbar-top {
        width: 100%;
        height: 60px;
        ul {
            display: flex;
            justify-content: space-between;
            float: right;
        }
        li {
            margin-right: 20px;
            list-style: none;
        }
    }
    .menu {
        width: 100%;
        button {
            display: flex;
            justify-content: space-between;
            float: left;
            height: 30px;
            margin-right: 50px;
        }
    }
    .list {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 100px;
        padding: 40px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: white;
        table {
            width: 100%;
        }
        tr {
            height: 40px;
        }
        td {
            border-top: 1px solid black;
        }
        a {
            color: blue;
            &:hover {
                color: aqua;
            }
        }
    }
    a {
        text-decoration: none;
        color: black;
    }
    .widgets {
        padding-left: 200px;
        display: flex;
        flex-wrap: wrap;
        .widgets-block {
            padding: 1vw;
            margin: 20px;
            display: block;
            height: 10vw;
            width: 24vw;
            background-color: #ffffff;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
            transition: 0.6s;
            h2 {
                text-align: left;
                font-size: 1.5vw;
            }
            p {
                margin-top: 1vw;
                text-align: right;
                font-size: 1.5vw;
            }
            &:hover {
                background-color: aquamarine;
            }
        }
    }
}
.login-box {
    display: block;
    margin: auto;
    .rent-box {
        margin-top: 500px;
        display: block;
        height: 500px;
        width: 500px;
        margin: auto;
        .full-form{
            width: 100%;
            margin: 8px 0;
        }
        .short-container {
            display: flex;
            justify-content: space-around;
        }
        .full-form, .short-form {
            display: inline-block;
            padding: 12px 20px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
    }
}
.kafelki {
    display: flex;
    flex-wrap: wrap;
    .kafelek {
        display: flex;
        padding: 10px;
        margin: 10px;
        border-radius: 15px;
        border: 2px solid;
        flex-direction: column;
        width: 225px;
        .numer {
            font-size: 2rem;
        }
        p{
            margin: 5px;
            text-align: center;
            font-size: 1rem;
        }
        img{
            align-content: center;
            width: 200px;
            height: 250px;
        }
    }
}



@media only screen and (max-width: 900px) {
    .mobile {
        display: none;
    }
}
