$main: #0083c4;
$secondary: #008acf;

body {
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}
nav {
    a {
        color: white;
    }
}
a {
    text-decoration: none;
}





/*:::::::::::::[Header]:::::::::::::::*/

@import url('mobile.css');


header {
    background-color: $main;
    .info-bar {
        width: 100%;
        padding: 5px;
        background-color: $secondary;
        text-align: center;
        color: white;
    }
    .logo {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        img {
            height: 60px;
        }
        p {
            color: white;
            font-size: 1.25rem;
        }
    }
    nav {
        background-color: #006091;
        width: 100vw;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
        ul {
            margin-left: 20vw;
            margin-right: 20vw;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
    @media only screen and (max-width: 600px) {
        header{
            nav{
                ul{
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 100vw;
                }
                li{
                    width: 100vw;
                }
            }
        }
      }
}


/*:::::::::::::[Banner Area]:::::::::::::::*/




.hero{ 
    width: 100%;
    min-height: 25vw;
    padding: 2vw 0px 0px 2vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    .column{
        flex: 50%;
        text-align: center;
        h2{
            font-size: 2rem;
        }
        button{
            width: 100px;
            height: 50px;
            background-color: #006091;
            border-radius: 15px;
            border: none;
            color: white;
        }
    }
    .banner{
        img{
            height: 25vw;
        }
    }
}





/*:::::::::::::[Category banners]::::::::::*/




.image-row {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
        text-decoration: none;
        color: white;
    }
    .box {
        display: block;
        width: 40vw;
        height: 20vw;
        margin: 10px;
        h2 {
            padding-top: 14vw;
            padding-left: 15px;
        }
    }
    .men {
        background-image: url('../../img/main/pop-men.jpg');
        background-size: cover;
    }
    .woman {
        background-image: url('../../img/main/pop-womens.jpg');
        background-size: cover;
    }
    .boy {
        background-image: url('../../img/main/pop-boys.jpg');
        background-size: cover;
    }
    .girl {
        background-image: url('../../img/main/pop-girls.jpg');
        background-size: cover;
    }
}

/* head */
.list-container{
    margin: 50px;
    display: flex;
    justify-content: center;
}







/*:::::::::::::[PRODUCT LIST]:::::::::::::*/




.container{
    margin: 50px;
}
.product_list{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
    p{
        margin: 0;
    }
    .product_box {
        margin: 8px;
        flex: 0 1 calc(18% - 8px);
        /* <-- adjusting for margin */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border: 2px solid black;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
        transition: 0.2s;
        h2{
            font-weight: 600;
            font-size: 1rem;
            padding: 0;
            margin: 0;
        }
        p{
            padding: 0;
            margin: 0;
        }
        &:hover{
            background-color: aliceblue;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        img {
            height: 400px;
            width: 250px;
            max-height: 400px;
            max-width: 250px;
            object-fit: contain;
        }
    }
}

/*:::::::::[Footer]:::::::::*/





.footer{
    .container_flex{
        color: white;
            padding: 2vw;
            margin-top: 2vw;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            background-color: $secondary;
            display: flex;
            justify-content: space-around;
            padding-right: 10vw;
            padding-left: 10vw;
        .row{
            ul{
                margin: 0;
            }
        }
    }
    .credits{
        padding: 0.5vw;
        margin: 0;
        background-color: $main;
        text-align: center;
        color: white;
    }
}

