body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  color: white;
}

a {
  text-decoration: none;
}

header {
  background-color: #0083c4;
}
header .info-bar {
  width: 100%;
  padding: 5px;
  background-color: #008acf;
  text-align: center;
  color: white;
}
header .logo {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
header .logo img {
  height: 60px;
}
header .logo p {
  color: white;
  font-size: 1.25rem;
}
header nav {
  background-color: #006091;
  width: 100vw;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}
header nav ul {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
}

.hero {
  display: flex;
  justify-content: center;
  margin: 0;
}
.hero img {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 0;
}

.image-row {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image-row a {
  text-decoration: none;
  color: white;
}
.image-row .box {
  display: block;
  width: 40vw;
  height: 20vw;
  margin: 10px;
}
.image-row .box h2 {
  padding-top: 14vw;
  padding-left: 15px;
}
.image-row .men {
  background-image: url("../../img/main/pop-men.jpg");
  background-size: cover;
}
.image-row .woman {
  background-image: url("../../img/main/pop-womens.jpg");
  background-size: cover;
}
.image-row .boy {
  background-image: url("../../img/main/pop-boys.jpg");
  background-size: cover;
}
.image-row .girl {
  background-image: url("../../img/main/pop-girls.jpg");
  background-size: cover;
}

/* head */
.list-container {
  margin: 50px;
  display: flex;
  justify-content: center;
}

/*:::::::::::::[PRODUCT LIST]:::::::::::::*/
.container {
  margin: 50px;
}

.product_list {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: center;
}
.product_list p {
  margin: 0;
}
.product_list .product_box {
  margin: 8px;
  flex: 0 1 calc(18% - 8px);
  /* <-- adjusting for margin */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  transition: 0.2s;
}
.product_list .product_box h2 {
  font-weight: 600;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
.product_list .product_box p {
  padding: 0;
  margin: 0;
}
.product_list .product_box:hover {
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product_list .product_box img {
  height: 400px;
  width: 250px;
  max-height: 400px;
  max-width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar-admin {
  width: 100%;
  height: 2rem;
}
.navbar-admin ul {
  display: flex;
  justify-content: space-between;
  float: right;
}
.navbar-admin li {
  margin: 0;
  margin-right: 20px;
  list-style: none;
}

/*:::::::::[Footer]:::::::::*/
.footer .container_flex {
  color: white;
  padding: 2vw;
  margin-top: 2vw;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #008acf;
  display: flex;
  justify-content: space-around;
  padding-right: 10vw;
  padding-left: 10vw;
}
.footer .container_flex .row ul {
  margin: 0;
}
.footer .credits {
  padding: 0.5vw;
  margin: 0;
  background-color: #0083c4;
  text-align: center;
  color: white;
}/*# sourceMappingURL=style.css.map */